@import url(../Componentes/Fuentes/CocomatPro-Bold.ttf);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Danfo&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Maxi */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow: auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    margin: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 20px;
}

.nav-links a:hover{
    background-color: #4e4c4c;
    border-radius: 3px;
    height: 10px;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
}
.glasss{
    margin-top: 3%;
    margin-top: 3%;
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.logo {
    width: 300px;
    height: 50px;
    border-radius: 20px;
}

.hero {
    backdrop-filter: blur(5px);      /* Efecto de difuminado */
    border-radius: 20px;
    padding: 80px;
    margin: 20px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;  /* Necesario para posicionar el 'ul' de forma absoluta */
    padding-top: 20%;  /* Espacio adicional arriba para que no se sobreponga */
}


.hero-content p {
    margin-bottom: 20px;
}


.hero-content p {
    margin-bottom: 20px;
}

img{
    width: 100%;
    object-fit: cover;
}

.galeria{/*para que la galeria se quede repartidsa bien para las imagenes*/
    width: 90%;
    max-width: 1200px;
    padding: 60px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));/*va a rellenar las columnas dependiendo cunto sea necesario*/
    grid-auto-rows: 300px;
    gap: 40px;
}

.galeria img{
    height: 100%;
    width: 100%;
    transition: 0.3s;
    object-fit: cover;
    border-radius: 15px;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
}

.galeria img:hover {
    transform: scale(1.1);
}



main ul {
    position: absolute;  /* Posiciona el 'ul' fuera del flujo normal */
    top: 0;              /* Lo coloca en la parte superior del contenedor */
    left: 50%;           /* Lo coloca en el centro horizontal */
    transform: translateX(-50%);  /* Ajusta el centro exacto */
    display: flex;
    justify-content: center;  /* Centra el contenido horizontalmente */
    align-items: center;      /* Centra el contenido verticalmente */
    margin: 0;
    padding: 0;
    z-index: 2;  /* Asegura que el texto esté por encima de las imágenes */
    font-family: "Edu AU VIC WA NT Arrows", cursive;
}

main ul li {
    list-style: none;          /* Elimina los puntos de la lista */
    font-weight: 500;
    font-size: 12vh;            /* Tamaño de fuente grande */
    letter-spacing: 2.5vh;      /* Espaciado entre letras */
    color: #555;
    text-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: anim 1s infinite linear;
}

@keyframes anim{
    0%{
        color: #555;
        text-shadow: none;
    }
    18%{
        color: #555;
        text-shadow: none;
    }
    20%{
        color: #a200ff;
        text-shadow: 0 0 1vh #a200ff,
        0 0 3vh #ffffff
    }
    30%{
        color: #555;
        text-shadow: none;
    }
    35%{
        color: #a200ff;
        text-shadow: 0 0 1vh #a200ff,
        0 0 3vh #ffffff
    }
    70%{
        color: #555;
        text-shadow: none;
    }
    85%{
        color: #a200ff;
        text-shadow: 0 0 1vh #a200ff,
        0 0 3vh #ffffff
    }
    90%{
        color: #555;
        text-shadow: none;
    }
    100%{
        color: #555;
        text-shadow: none;
    }
}

main ul li:nth-child(1){
    animation-delay: .2s;
}
main ul li:nth-child(2){
    animation-delay: .4s;
}
main ul li:nth-child(3){
    animation-delay: .6s;
}
main ul li:nth-child(4){
    animation-delay: .8s;
}
main ul li:nth-child(5){
    animation-delay: 1s;
}
main ul li:nth-child(6){
    animation-delay: 1.2s;
}
main ul li:nth-child(7){
    animation-delay: 1.4s;
}
main ul li:nth-child(8){
    animation-delay: 1.6s;
}

@media (max-width: 1080px) {
    .galeria {
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap; /* No permitir que las imágenes se acomoden en varias filas */
        overflow-x: auto; /* Permitir desplazamiento horizontal */
        -webkit-overflow-scrolling: touch; /* Mejorar la experiencia de desplazamiento táctil */
        width: 100%;
        scrollbar-width: none; /* Firefox */
        scroll-snap-type: x mandatory; /* Habilitar scroll snapping */
    }

    .galeria img {
        width: 100%; /* Las imágenes ocuparán todo el ancho de su contenedor */
        height: 80%;
        object-fit: cover; /* Mantener la proporción de las imágenes */
        margin-right: 5px; /* Espacio entre las imágenes */
        scroll-snap-align: start; /* Asegurarse de que cada imagen se alinee al inicio del contenedor */
    }
    
    .hero div img {
        filter: none; /* Elimina el filtro en pantallas pequeñas */
    }
    
    .hero {
        flex-direction: column;
        text-align: center;
        padding-top: 40%;
    }

    .alien-dj {
        margin: 0 auto 20px auto;
    }
    main ul li {
        font-size: 7vh;            /* Tamaño de fuente grande */
        letter-spacing: 0.5vh;      /* Espaciado entre letras */
    }
    .galeria{/*para que la galeria se quede repartidsa bien para las imagenes*/
        width: 100%;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
