/*Container Servicios*/
.servicios{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url('../Componentes/Imagenes/fiesta.jpg');
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: 100vh;
    color: #000;
}
/*Container texto*/
.servicios__texto{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
}

.servicios__texto p{
    text-align: center;
    color: #ffff;
    max-width: 600px;
    font-size: 1.7rem;
}
/*Contenedor de cartas y servicios*/
.servicios__contenedor-card{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
}

/*Cartas*/
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    max-width: 500px;
    /*Efecto glass*/
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px) ;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(255,255,255,0.37);
    /*Fin de efecto glass*/
    color: #ffff;
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
    transition: transform  0.3s ease;
}
.card:hover{
    transform: scale(1.05);
}
.card h3{
    padding: 0 8px;
    font-size: 2rem;
}

.card ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center; 
}

.card ul li{
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
}
.card p{
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
}

.servicios__boton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.servicios__boton a {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid  rgba(255, 255, 255, 0.2);
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 25px;
    color: #ffff;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.servicios__boton a:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}